@import url('https://fonts.googleapis.com/css2?family=Afacad:ital,wght@0,400..700;1,400..700&family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap');
 
body {
  font-family: Arial, sans-serif;
  margin: 0;
  overflow-x: hidden;
background-color: black;
}
 
.navbar {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 30px 180px;
            background-color: black;
        }
        .logo img {
            height: 30px;
        }
        .nav-links {
            display: flex;
            gap: 50px;
        }
        .nav-links a {
            text-decoration: none;
            color: white;
            font-size: 16px;
         font-family: "Playfair Display", serif;
         /* font-weight: 600;
    font-style: italic;
*/
 
 
        }
 








    h1{

font-family: "Playfair Display", serif;
font-style: italic;
font-size: 190px;
font-weight: 600;

    }


   h2{

font-family: "Playfair Display", serif;
font-style: italic;
font-size: 64px;
font-weight: 600;

    }





.grid1 {
    display: grid;
    grid-template-rows: 0.58fr 0.5fr 0.3fr 0.5fr 0.5fr 0.5fr 0.5fr 0.2fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr ;
    grid-template-columns: 0.78fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.7fr ;
    height: 130vh;
    width: 100vw;
    margin: 0;
}
 
.grid1 h2:nth-child(1) {
    grid-column: 2 / 10;
    grid-row: 2/ 10;
  color: white;
  
  
}
 
.grid1 p:nth-child(2) {
    grid-column: 2 / 7;
    grid-row: 4 / 4 ;
  color: white;
  font-size: 18px;
  font-family: "Afacad", sans-serif;
  font-style: italic;
  
}
 
.grid1 img:nth-child(3) {
    grid-column: 8 / 12;
    grid-row: 3 / 7  ;
    
  height: 100%;
    width: 100%;
}
 
 
 
.grid1 h2:nth-child(4) {
    grid-column: 2 / 10;
    grid-row: 7/ 10;
  color: white;

}
 
.grid1 p:nth-child(5) {
    grid-column: 2 / 7;
    grid-row: 9 / 9 ;
  color: white;
  font-size: 18px;
  font-family: "Afacad", sans-serif;
  font-style: italic;
  
}
 
.grid1 img:nth-child(6) {
    grid-column: 8 / 12;
    grid-row: 8 / 12  ;

    height: 100%;
    width: 100%;
}

 

 
.grid1 div:nth-child(8) {
    grid-column: 1/ 16;
    grid-row: 13 / 13 ;
  
}
 
 
.navbar2 {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 30px 180px;
            background-color: black;
        }
        .logo img {
            height: 30px;
        }
        .nav-links2 {
            display: flex;
            gap: 50px;
        }
        .nav-links2 a {
            text-decoration: none;
            color: white;
            font-size: 16px;
         font-family: "Playfair Display", serif;
         /* font-weight: 600;
    font-style: italic;
*/
 
 
    }
 