@import url('https://fonts.googleapis.com/css2?family=Afacad:ital,wght@0,400..700;1,400..700&family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap');
 
 
body {
  font-family: Arial, sans-serif;
  margin: 0;
background-color: black;
}
 
.navbar {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 30px 180px;
            background-color: black;
        }
        .logo img {
            height: 30px;
        }
        .nav-links {
            display: flex;
            gap: 50px;
        }
        .nav-links a {
            text-decoration: none;
            color: white;
            font-size: 16px;
         font-family: "Playfair Display", serif;
         /* font-weight: 600;
    font-style: italic;
*/
 
 
        }
 
.grid1 {
    display: grid;
    grid-template-rows: 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr ;
    grid-template-columns: 0.90fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.90fr ;
    height: 120vh;
    width: 100vw;
    margin: 0;
}
 
.grid1 p:nth-child(1) {
    grid-column: 2 / 13;
    grid-row: 2/ 10 ;
  color: white;
  font-size: 64px;
  font-family: "Playfair Display", serif;
  font-weight: 600;
  font-style: italic;
  
}
 
.grid1 div:nth-child(2) {
    grid-column: 7/ 11;
    grid-row: 2/10 ;
}
 
.foto img {
            height: 370px;
        }    
        
.grid1 div:nth-child(3) {
    grid-column: 2/ 11;
    grid-row: 5/9 ;
}        
 
.box {
  border: 2px solid #4CAF50;
  background-color: #ffffff;
  padding: 20px;
  width: 300px;
  border-radius: 10px;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.1);
}
 
.grid1 div:nth-child(4) {
    grid-column: 1/ 13;
    grid-row: 10/ 12 ;
  
}
 
.navbar2 {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 30px 180px;
            background-color: black;
        }
        .logo img {
            height: 30px;
        }
        .nav-links2 {
            display: flex;
            gap: 50px;
        }
        .nav-links2 a {
            text-decoration: none;
            color: white;
            font-size: 16px;
         font-family: "Playfair Display", serif;
         /* font-weight: 600;
    font-style: italic;
*/
 
 
    }
 
    .grid1 div:nth-child(5) { 
  grid-row: 9/ 11;         
  height: 2px;             
  background-color: white; 
  align-self: center;      
  
}
 